ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF4E0;
  }
  
 
  li a {
    display: block;
    color: #B46060;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #FFBF9B;
  }
  .active {
    background-color: #0b4530;
  } 
  
  #home,
  #about,
  #contact,
  #motivation,
  #hobby
  #volunteer, p {
    color: rgb(77, 77, 77); 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
  }


body {
    background-color: #FFF4E0;
    padding: 20px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

main {
    max-width: none;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
color: 
#B46060;
}

.column {
    color: #4D4D4D;
}

img {
 
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

ol {
    color: #4D4D4D;
    list-style-type: circle;


}

  
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .row {
      width: 100%;
    }
  }

  footer {
    color: #4D4D4D;
    text-align: center;
  }