ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #92959b;
  }
  
  li {
    float: left;
  }
  
 
  li a {
    display: block;
    color: navajowhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #fff;
  }
  .active {
    background-color: #0b4530;
  } 
  
  #home,
  #about,
  #contact,
  #motivation {
    color: white; 
    text-align: left;


  }
body {
    background-color: #92959b;
    padding: 20px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

main {
    max-width: none;
    margin: auto;
}
h1, h2, h3 {
color: blue;
}

.column {
    color: #fff;
}


img {
 
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

ol {
    color: #fff;
    list-style-type: circle;


}
ol {
    list-style-type: circle;
    margin: 0;
    padding: 0;
  }
  
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  footer{
    color: #fff;
    text-align: left;
  }