ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #92959b;
  }
  
 
  
  
 
  li a {
    display: block;
    color: navajowhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #fff;
  }
  .active {
    background-color: #0b4530;
  } 
  
  #home,
  #about,
  #contact,
  #motivation,
  #hobby {
    color: white; 
    text-align: left;


  }
body {
    background-color: #92959b;
    padding: 20px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

main {
    max-width: none;
    margin: auto;
}

h1, h2, h3 {
color: blue;
}

.column {
    color: #fff;
}


img {
 
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

ol {
    color: #fff;
    list-style-type: circle;


}

  
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .row {
      width: 100%;
    }
  }

  footer {
    color: #fff;
    text-align: center;
  }